@import url("reset.css");

body {
    padding: 2rem;
}

/* Target the header element and add a background color */
header {
    background-color: #de20b1; /* Pinky background */
    color: white; /* Text color */
    padding: 20px; /* Optional: Add padding for spacing */
    text-align: center; /* Optional: Center the text */
}
/* Target the first aside element */
.aside-eins {
    background-color: rgb(29, 148, 188); /* darker blue color for the first aside */
    color: #f8f6f6; /* Text color */
    padding: 10px;
}

/* Target the second aside element */
.aside-zwei {
    background-color: rgb(144, 199, 238); /* Light blue color for the second aside */
    color: white; /* Text color */
    padding: 10px;
}
.article-eins {
    background-color: rgb(130, 242, 186); /* Light green color for the article */
    color: white; /* Text color */
    padding: 10px;
}
.column {
    background-color: rgb(238, 120, 179); /* pinky color for the columns */
    color: white; /* Text color */
    padding: 10px;
}
footer {
    background-color: #f98704; /* Orange background */
    color: white; /* Text color */
    padding: 20px; /* Optional: Add padding for spacing */
    text-align: center; /* Optional: Center the text */
}
header,
footer,
aside,
article,
.column {
    padding: 2rem;
    border: 4px solid #6f5eb3;
 /*   width: 80%;*/
    margin: 2rem auto;
    border-radius: 0.25rem;
}

@media only screen and (min-width: 800px){

    body {
        background-color: rgb(192, 146, 235);
    }

    section {
        display: flex;
        flex-direction: row;
    }
    .column-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}
  